<div id="topcontent">
<h1 id="webpagename">Charles Zhu’s page</h1>
<nav id="navbar">
	<ul id="navlist">
		<li class="navitem"><a href="/index.html" class="navlink">Home</a></li>
		<li class="navitem"><a href="/projects/index.html" class="navlink">Projects</a></li>
		<li class="navitem"><a href="/blog.html" class="navlink">Blog</a></li>
		<li class="navitem"><a href="/glossary/index.html" class="navlink">Zettlekasten</a></li>
		<li class="navitem"><a href="/guestbook.html" class="navlink">Guestbook</a></li>
	</ul>
</nav>
</div>
