<h1 id="webpagename">Charles Zhu’s page</h1>
<nav>
	<ul id="navlist">
		<li class="navitem"><a href="/index.html" class="navlink">Home</a></li>
		<li class="navitem"><a href="/projects.html" class="navlink">Projects</a></li>
		<li class="navitem"><a href="/about.html" class="navlink">About Me</a></li>
		<li class="navitem"><a href="/glossary.html" class="navlink">Zettlekasten</a></li>
		<li class="navitem"><a href="/guestbook.html" class="navlink">Guestbook</a></li>
		<!-- <li>🌕</li> -->
	</ul>
</nav>