:root {
    --monospace-font-stack: "JuliaMono", "Maple Mono", "Maple Mono NF CN", "IBM Plex Mono", "Menlo", "Andale Mono", "Cascadia Code", monospace;
    font-family: var(--monospace-font-stack);
}
body {
    font-size: 0.9em;
}
math {
    font-family: "JuliaMono", "IBM Plex Math", "STIX Two Math", "NewComputerModern Math", "Latin Modern Math", "DejaVu Math TeX Gyre", "Cambria Math", "Noto Sans Math", math, serif;
    font-size-adjust: ex-height from-font;
}
code {
    /*background-color: #d1d9e037;*/
    font-family: var(--monospace-font-stack);
}
code:not(pre code) {
    background-color: #d1d9e037;
}
pre.highlight {
    background-color: #d1d9e037;
}
time {
    /*font-size-adjust: ;*/
    font-weight: 300;
    color: gray;
}
a {
    overflow-wrap: break-word;
    word-break: break-word;
}
#navlist {
    list-style-type: none;
    margin: 0;
    /*padding: 5px;*/
    padding: 0px;
}
.navitem {
    display: inline;
}
.navlink {
    /*padding-left: 7px;*/
    padding-right: 7px;
    font-style: italic;
}
