:where(:root) {
	/* LIGHT THEME VARS */
	--background-setting: radial-gradient(circle, #FFFBF0, #F2ECDE);
	--link-color: #424C50;
	--hover-color: 1px 1px 2px #4C8DAE;
	--webpagename-color: white;
	--navlink-color: white;
	--text-color: #171412;
	--webpagename-shadow-color: 1px 1px 2px #161823;
	--navbar-background: linear-gradient(#A1AFC9, #50616D);
	--blockquote-border-color: #D3B17D !important;
}

:root {
	/* COLORS */
	/* radial-gradient(circle, #ffffff, #F2ECDE); */
	/* background-color: #F2ECDE; */
	/* background-color: #FFFBF0; */
	/* background: radial-gradient(circle, #ffffff, #FFFBF0); */
	/* background: linear-gradient(to top, #000000, #000000, #F2ECDE, #333333); */
	background: var(--background-setting);
	background-size: cover;
	background-size: 100% 1px;
	color: var(--text-color);
	/* --navlink-color: #f9dad0 !important; */
	/* --navbar-background: linear-gradient(to bottom, #dbe7f9 0%, #f0f4f9 50%, #dbe7f9 100%); */
	/* 0 0 2px rgba(255, 76, 0, 0.6180339887498948) */

	/* FONTS */
	--h1-font-weight: 700;
	/* https://modernfontstacks.com/ */
	--geometric-humanist-font-stack: Avenir, 'Avenir Next LT Pro', Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
	--neogrotesque-font-stack: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	--monospace-slab-serif-font-stack: 'Nimbus Mono PS', 'Courier New', 'Cutive Mono', monospace;
	/* https://qwtel.com/posts/software/the-monospaced-system-ui-css-font-stack/ */
	--monospace-font-stack: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Mono", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Consolas", "Courier New", monospace;
	--system-font-stack: system-ui, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	/* --heading-font-family: 'Big Caslon', 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif; */
	--heading-font-family: var(--neogrotesque-font-stack);
	--code-font-family: var(--monospace-slab-serif-font-stack);
	--caption-font-family: var(--geometric-humanist-font-stack);
	/* --body-font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif; */
	--body-font-family: var(--system-font-stack);
	--webpagename-font-family: var(--monospace-font-stack);
	--navbar-font-family: var(--monospace-font-stack);
}

a {
	color: var(--link-color);

}

a:hover {
	text-shadow: var(--hover-color);
}

blockquote {
	border: 0px solid;
	border-color: var(--blockquote-border-color);
	border-left-width: 5px !important;
	font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
	opacity: 80%;
	padding-left: 10px;
}

/* DARK THEME */
@media (prefers-color-scheme: dark) {
	:where(:root) {
		/* COLORS */
		/* background: rgb(32, 32, 32); */
		--background-setting: radial-gradient(circle, rgb(32, 32, 32), #282828);
		--text-color: white;
		/* --link-color: salmon; */
		--link-color: #f9dad0;
		--hover-color: 1px 1px 2px rgba(242, 190, 69, 0.5);
		/* --link-color: rgba(255, 76, 0, 0.6180339887498948); */
		/* --link-color: #F2BE45; */
		--navbar-background: linear-gradient(#A1AFC9, #50616D);
		--navlink-color: white !important;
		--webpagename-shadow-color: 1px 1px 1px #2E4E7E;
		/* --webpagename-color: white; */
		--blockquote-border-color: #5D513C !important;
	}
}

body {
	font-family: var(--body-font-family);
}

@media only screen and (max-width: 600px) {
	body {
		margin-left: 1em;
		margin-right: 1em;
	}
}

@media only screen and (min-width: 600px) {
	body {
		margin-left: 5em;
		margin-right: 5em;
	}
}

@media only screen and (min-width: 992px) {
	body {
		margin-left: 10em;
		margin-right: 10em;
	}
}

h1 {
	font-weight: var(--h1-font-weight);
	font-family: var(--heading-font-family);
}

h2 {
	font-weight: 600;
	font-family: var(--heading-font-family);
}

h3 {
	font-weight: 500;
	font-family: var(--heading-font-family);
}

code {
	font-style: normal;
	font-family: var(--code-font-family);
}

img {
	max-width: 40vw;
}

figcaption {
	font-family: var(--caption-font-family);
	font-size: 0.75em;
}

time {
	font-family: var(--caption-font-family);
	font-weight: 300;
}

.bloglink {
	padding: 0.25em;
}

.blogpreview {
	font-style: italic;
}

#navlist {
	font-family: var(--navbar-font-family);
	list-style-type: none;
	margin: 0;
	padding: 5px;
	/* border: outset;
	border-width: 1.5px; */
}

#webpagename {
	font-family: var(--webpagename-font-family);
	text-shadow: var(--webpagename-shadow-color);
	color: var(--webpagename-color);
}

/* #navbar { */
#topcontent {
	background: var(--navbar-background);
}

.navitem {
	display: inline;
}

.navlink {
	color: var(--navlink-color);
	padding-left: 7px;
	padding-right: 7px;
}