---
layout: default
nomenu: true
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
<script>
	MathJax = {
	tex: {
		inlineMath: [ ['$', '$'], ['\\(', '\\)'] ],
		displayMath: [ ['$$', '$$'], ['\\[', '\\]'] ],
	},
	svg: {
		fontCache: 'global'
	}
	};
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
